<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>code</key>
        <string>26_01</string>
        <key>en</key>
        <string>26_01</string>
        <key>zh-Hans</key>
        <string>26_01</string>
        <key>zh-Hant</key>
        <string>26_01</string>
        <key>image</key>
        <string>animemoji_mitu_01.gif</string>
    </dict>
    <dict>
        <key>code</key>
        <string>26_02</string>
        <key>en</key>
        <string>26_02</string>
        <key>zh-Hans</key>
        <string>26_02</string>
        <key>zh-Hant</key>
        <string>26_02</string>
        <key>image</key>
        <string>animemoji_mitu_02.gif</string>
    </dict>
    <dict>
        <key>code</key>
        <string>26_03</string>
        <key>en</key>
        <string>26_03</string>
        <key>zh-Hans</key>
        <string>26_03</string>
        <key>zh-Hant</key>
        <string>26_03</string>
        <key>image</key>
        <string>animemoji_mitu_03.gif</string>
    </dict>
    <dict>
        <key>code</key>
        <string>26_04</string>
        <key>en</key>
        <string>26_04</string>
        <key>zh-Hans</key>
        <string>26_04</string>
        <key>zh-Hant</key>
        <string>26_04</string>
        <key>image</key>
        <string>animemoji_mitu_04.gif</string>
    </dict>
    <dict>
        <key>code</key>
        <string>26_05</string>
        <key>en</key>
        <string>26_05</string>
        <key>zh-Hans</key>
        <string>26_05</string>
        <key>zh-Hant</key>
        <string>26_05</string>
        <key>image</key>
        <string>animemoji_mitu_05.gif</string>
    </dict>
    <dict>
        <key>code</key>
        <string>26_06</string>
        <key>en</key>
        <string>26_06</string>
        <key>zh-Hans</key>
        <string>26_06</string>
        <key>zh-Hant</key>
        <string>26_06</string>
        <key>image</key>
        <string>animemoji_mitu_06.gif</string>
    </dict>
    <dict>
        <key>code</key>
        <string>26_07</string>
        <key>en</key>
        <string>26_07</string>
        <key>zh-Hans</key>
        <string>26_07</string>
        <key>zh-Hant</key>
        <string>26_07</string>
        <key>image</key>
        <string>animemoji_mitu_07.gif</string>
    </dict>
    <dict>
        <key>code</key>
        <string>26_08</string>
        <key>en</key>
        <string>26_08</string>
        <key>zh-Hans</key>
        <string>26_08</string>
        <key>zh-Hant</key>
        <string>26_08</string>
        <key>image</key>
        <string>animemoji_mitu_08.gif</string>
    </dict>
    <dict>
        <key>code</key>
        <string>26_09</string>
        <key>en</key>
        <string>26_09</string>
        <key>zh-Hans</key>
        <string>26_09</string>
        <key>zh-Hant</key>
        <string>26_09</string>
        <key>image</key>
        <string>animemoji_mitu_09.gif</string>
    </dict>
    <dict>
        <key>code</key>
        <string>26_10</string>
        <key>en</key>
        <string>26_10</string>
        <key>zh-Hans</key>
        <string>26_10</string>
        <key>zh-Hant</key>
        <string>26_10</string>
        <key>image</key>
        <string>animemoji_mitu_10.gif</string>
    </dict>
    <dict>
        <key>code</key>
        <string>26_11</string>
        <key>en</key>
        <string>26_11</string>
        <key>zh-Hans</key>
        <string>26_11</string>
        <key>zh-Hant</key>
        <string>26_11</string>
        <key>image</key>
        <string>animemoji_mitu_11.gif</string>
    </dict>
    <dict>
        <key>code</key>
        <string>26_12</string>
        <key>en</key>
        <string>26_12</string>
        <key>zh-Hans</key>
        <string>26_12</string>
        <key>zh-Hant</key>
        <string>26_12</string>
        <key>image</key>
        <string>animemoji_mitu_12.gif</string>
    </dict>
</array>
</plist>
