<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>code</key>
			<string>325_01</string>
			<key>en</key>
			<string>325_01</string>
			<key>zh-Hans</key>
			<string>325_01</string>
			<key>zh-Hant</key>
			<string>325_01</string>
			<key>image</key>
			<string>smilies_octopus_001.gif</string>
		</dict>
		<dict>
			<key>code</key>
			<string>325_02</string>
			<key>en</key>
			<string>325_02</string>
			<key>zh-Hans</key>
			<string>325_02</string>
			<key>zh-Hant</key>
			<string>325_02</string>
			<key>image</key>
			<string>smilies_octopus_002.gif</string>
		</dict>
		<dict>
			<key>code</key>
			<string>325_03</string>
			<key>en</key>
			<string>325_03</string>
			<key>zh-Hans</key>
			<string>325_03</string>
			<key>zh-Hant</key>
			<string>325_03</string>
			<key>image</key>
			<string>smilies_octopus_003.gif</string>
		</dict>
		<dict>
			<key>code</key>
			<string>325_04</string>
			<key>en</key>
			<string>325_04</string>
			<key>zh-Hans</key>
			<string>325_04</string>
			<key>zh-Hant</key>
			<string>325_04</string>
			<key>image</key>
			<string>smilies_octopus_004.gif</string>
		</dict>
		<dict>
			<key>code</key>
			<string>325_05</string>
			<key>en</key>
			<string>325_05</string>
			<key>zh-Hans</key>
			<string>325_05</string>
			<key>zh-Hant</key>
			<string>325_05</string>
			<key>image</key>
			<string>smilies_octopus_005.gif</string>
		</dict>
		<dict>
			<key>code</key>
			<string>325_06</string>
			<key>en</key>
			<string>325_06</string>
			<key>zh-Hans</key>
			<string>325_06</string>
			<key>zh-Hant</key>
			<string>325_06</string>
			<key>image</key>
			<string>smilies_octopus_006.gif</string>
		</dict>
		<dict>
			<key>code</key>
			<string>325_07</string>
			<key>en</key>
			<string>325_07</string>
			<key>zh-Hans</key>
			<string>325_07</string>
			<key>zh-Hant</key>
			<string>325_07</string>
			<key>image</key>
			<string>smilies_octopus_007.gif</string>
		</dict>
		<dict>
			<key>code</key>
			<string>325_08</string>
			<key>en</key>
			<string>325_08</string>
			<key>zh-Hans</key>
			<string>325_08</string>
			<key>zh-Hant</key>
			<string>325_08</string>
			<key>image</key>
			<string>smilies_octopus_008.gif</string>
		</dict>
		<dict>
			<key>code</key>
			<string>325_09</string>
			<key>en</key>
			<string>325_09</string>
			<key>zh-Hans</key>
			<string>325_09</string>
			<key>zh-Hant</key>
			<string>325_09</string>
			<key>image</key>
			<string>smilies_octopus_009.gif</string>
		</dict>
		<dict>
			<key>code</key>
			<string>325_10</string>
			<key>en</key>
			<string>325_10</string>
			<key>zh-Hans</key>
			<string>325_10</string>
			<key>zh-Hant</key>
			<string>325_10</string>
			<key>image</key>
			<string>smilies_octopus_010.gif</string>
		</dict>
		<dict>
			<key>code</key>
			<string>325_11</string>
			<key>en</key>
			<string>325_11</string>
			<key>zh-Hans</key>
			<string>325_11</string>
			<key>zh-Hant</key>
			<string>325_11</string>
			<key>image</key>
			<string>smilies_octopus_011.gif</string>
		</dict>
		<dict>
			<key>code</key>
			<string>325_12</string>
			<key>en</key>
			<string>325_12</string>
			<key>zh-Hans</key>
			<string>325_12</string>
			<key>zh-Hant</key>
			<string>325_12</string>
			<key>image</key>
			<string>smilies_octopus_012.gif</string>
		</dict>
		<dict>
			<key>code</key>
			<string>325_13</string>
			<key>en</key>
			<string>325_13</string>
			<key>zh-Hans</key>
			<string>325_13</string>
			<key>zh-Hant</key>
			<string>325_13</string>
			<key>image</key>
			<string>smilies_octopus_013.gif</string>
		</dict>
		<dict>
			<key>code</key>
			<string>325_14</string>
			<key>en</key>
			<string>325_14</string>
			<key>zh-Hans</key>
			<string>325_14</string>
			<key>zh-Hant</key>
			<string>325_14</string>
			<key>image</key>
			<string>smilies_octopus_014.gif</string>
		</dict>
		<dict>
			<key>code</key>
			<string>325_15</string>
			<key>en</key>
			<string>325_15</string>
			<key>zh-Hans</key>
			<string>325_15</string>
			<key>zh-Hant</key>
			<string>325_15</string>
			<key>image</key>
			<string>smilies_octopus_015.gif</string>
		</dict>
		<dict>
			<key>code</key>
			<string>325_16</string>
			<key>en</key>
			<string>325_16</string>
			<key>zh-Hans</key>
			<string>325_16</string>
			<key>zh-Hant</key>
			<string>325_16</string>
			<key>image</key>
			<string>smilies_octopus_016.gif</string>
		</dict>
	</array>

</plist>
