<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>L</string>
		<key>models</key>
		<array>
			<dict>
				<key>user</key>
				<dict>
					<key>uid</key>
					<string>123450</string>
					<key>name</key>
					<string>乐消消</string>
					<key>photo</key>
					<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
				</dict>
				<key>remark</key>
				<string>123</string>
			</dict>
			<dict>
				<key>user</key>
				<dict>
					<key>uid</key>
					<string>123451</string>
					<key>name</key>
					<string>乐消消2</string>
					<key>photo</key>
					<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
				</dict>
				<key>remark</key>
				<string>123</string>
			</dict>
			<dict>
				<key>user</key>
				<dict>
					<key>uid</key>
					<string>123452</string>
					<key>name</key>
					<string>乐消消3</string>
					<key>photo</key>
					<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
				</dict>
				<key>remark</key>
				<string>123</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>J</string>
		<key>models</key>
		<array>
			<dict>
				<key>user</key>
				<dict>
					<key>uid</key>
					<string>123450</string>
					<key>name</key>
					<string>J乐消消</string>
					<key>photo</key>
					<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
				</dict>
				<key>remark</key>
				<string>123</string>
			</dict>
			<dict>
				<key>user</key>
				<dict>
					<key>uid</key>
					<string>123451</string>
					<key>name</key>
					<string>J乐消消2</string>
					<key>photo</key>
					<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
				</dict>
				<key>remark</key>
				<string>123</string>
			</dict>
			<dict>
				<key>user</key>
				<dict>
					<key>uid</key>
					<string>123452</string>
					<key>name</key>
					<string>J乐消消3</string>
					<key>photo</key>
					<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
				</dict>
				<key>remark</key>
				<string>123</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>K</string>
		<key>models</key>
		<array>
			<dict>
				<key>user</key>
				<dict>
					<key>uid</key>
					<string>123450</string>
					<key>name</key>
					<string>K乐消消</string>
					<key>photo</key>
					<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
				</dict>
				<key>remark</key>
				<string>123</string>
			</dict>
			<dict>
				<key>user</key>
				<dict>
					<key>uid</key>
					<string>123451</string>
					<key>name</key>
					<string>K乐消消2</string>
					<key>photo</key>
					<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
				</dict>
				<key>remark</key>
				<string>123</string>
			</dict>
			<dict>
				<key>user</key>
				<dict>
					<key>uid</key>
					<string>123452</string>
					<key>name</key>
					<string>K乐消消3</string>
					<key>photo</key>
					<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
				</dict>
				<key>remark</key>
				<string>123</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>M</string>
		<key>models</key>
		<array>
			<dict>
				<key>user</key>
				<dict>
					<key>uid</key>
					<string>123460</string>
					<key>name</key>
					<string>M乐消消</string>
					<key>photo</key>
					<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
				</dict>
				<key>remark</key>
				<string>123</string>
			</dict>
			<dict>
				<key>user</key>
				<dict>
					<key>uid</key>
					<string>123461</string>
					<key>name</key>
					<string>M乐消消2</string>
					<key>photo</key>
					<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
				</dict>
				<key>remark</key>
				<string>123</string>
			</dict>
			<dict>
				<key>user</key>
				<dict>
					<key>uid</key>
					<string>123462</string>
					<key>name</key>
					<string>M乐消消3</string>
					<key>photo</key>
					<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
				</dict>
				<key>remark</key>
				<string>123</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>N</string>
		<key>models</key>
		<array>
			<dict>
				<key>user</key>
				<dict>
					<key>uid</key>
					<string>123470</string>
					<key>name</key>
					<string>N乐消消</string>
					<key>photo</key>
					<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
				</dict>
				<key>remark</key>
				<string>123</string>
			</dict>
			<dict>
				<key>user</key>
				<dict>
					<key>uid</key>
					<string>123471</string>
					<key>name</key>
					<string>N乐消消2</string>
					<key>photo</key>
					<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
				</dict>
				<key>remark</key>
				<string>123</string>
			</dict>
			<dict>
				<key>user</key>
				<dict>
					<key>uid</key>
					<string>123472</string>
					<key>name</key>
					<string>N乐消消3</string>
					<key>photo</key>
					<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
				</dict>
				<key>remark</key>
				<string>123</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
