<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>remindCount</key>
		<integer>3</integer>
		<key>user</key>
		<dict>
			<key>photo</key>
			<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
			<key>name</key>
			<string>乐消消</string>
			<key>uid</key>
			<string>123450</string>
		</dict>
		<key>detailText</key>
		<string>测试内容1!!!</string>
		<key>createTime</key>
		<string>Tue May 26 17:46:55 +0800 2015</string>
	</dict>
	<dict>
		<key>remindCount</key>
		<integer>150</integer>
		<key>user</key>
		<dict>
			<key>photo</key>
			<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0d541a4f64242417b13e47ec58ee8f7d8b9773121</string>
			<key>name</key>
			<string>维棠</string>
			<key>uid</key>
			<string>123451</string>
		</dict>
		<key>detailText</key>
		<string>测试内容2!!!</string>
		<key>createTime</key>
		<string>Tue May 26 17:46:55 +0800 2015</string>
	</dict>
	<dict>
		<key>remindCount</key>
		<integer>0</integer>
		<key>user</key>
		<dict>
			<key>photo</key>
			<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/09de05be1a69cb253275d4c1b62e3bc4e9d41412a</string>
			<key>name</key>
			<string>简单最美</string>
			<key>uid</key>
			<string>123452</string>
		</dict>
		<key>detailText</key>
		<string>测试内容3!!!</string>
		<key>createTime</key>
		<string>Tue May 26 17:46:55 +0800 2015</string>
	</dict>
	<dict>
		<key>remindCount</key>
		<integer>20</integer>
		<key>user</key>
		<dict>
			<key>photo</key>
			<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0fc7247246a680b9e8b1a6f74299b35c0c04121a4</string>
			<key>name</key>
			<string>糯米</string>
			<key>uid</key>
			<string>123456</string>
		</dict>
		<key>detailText</key>
		<string>测试内容4!!!</string>
		<key>createTime</key>
		<string>Tue May 26 17:46:55 +0800 2015</string>
	</dict>
	<dict>
		<key>remindCount</key>
		<integer>0</integer>
		<key>user</key>
		<dict>
			<key>photo</key>
			<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0abf1419cf872aa1688eb6b05972dc97eaa40523e</string>
			<key>name</key>
			<string>西游</string>
			<key>uid</key>
			<string>123457</string>
		</dict>
		<key>detailText</key>
		<string>测试内容5!!!</string>
		<key>createTime</key>
		<string>Tue May 27 17:46:55 +0800 2015</string>
	</dict>
	<dict>
		<key>remindCount</key>
		<integer>10</integer>
		<key>user</key>
		<dict>
			<key>photo</key>
			<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/06ef564547aa446740a37896effd07fccb65cf452</string>
			<key>name</key>
			<string>蘑菇</string>
			<key>uid</key>
			<string>123458</string>
		</dict>
		<key>detailText</key>
		<string>测试内容6!!!</string>
		<key>createTime</key>
		<string>Tue May 31 17:46:55 +0800 2015</string>
	</dict>
	<dict>
		<key>remindCount</key>
		<integer>10</integer>
		<key>user</key>
		<dict>
			<key>photo</key>
			<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/06ef564547aa446740a37896effd07fccb65cf452</string>
			<key>name</key>
			<string>蘑菇</string>
			<key>uid</key>
			<string>123459</string>
		</dict>
		<key>detailText</key>
		<string>测试内容6!!!</string>
		<key>createTime</key>
		<string>Tue May 31 17:46:55 +0800 2015</string>
	</dict>
	<dict>
		<key>remindCount</key>
		<integer>10</integer>
		<key>user</key>
		<dict>
			<key>photo</key>
			<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/06ef564547aa446740a37896effd07fccb65cf452</string>
			<key>name</key>
			<string>蘑菇</string>
			<key>uid</key>
			<string>123460</string>
		</dict>
		<key>detailText</key>
		<string>测试内容6!!!</string>
		<key>createTime</key>
		<string>Tue May 31 17:46:55 +0800 2015</string>
	</dict>
	<dict>
		<key>remindCount</key>
		<integer>10</integer>
		<key>user</key>
		<dict>
			<key>photo</key>
			<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/06ef564547aa446740a37896effd07fccb65cf452</string>
			<key>name</key>
			<string>蘑菇</string>
			<key>uid</key>
			<string>123461</string>
		</dict>
		<key>detailText</key>
		<string>测试内容6!!!</string>
		<key>createTime</key>
		<string>Tue May 31 17:46:55 +0800 2015</string>
	</dict>
	<dict>
		<key>remindCount</key>
		<integer>10</integer>
		<key>user</key>
		<dict>
			<key>photo</key>
			<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/06ef564547aa446740a37896effd07fccb65cf452</string>
			<key>name</key>
			<string>蘑菇</string>
			<key>uid</key>
			<string>123462</string>
		</dict>
		<key>detailText</key>
		<string>测试内容6!!!</string>
		<key>createTime</key>
		<string>Tue May 31 17:46:55 +0800 2015</string>
	</dict>
	<dict>
		<key>remindCount</key>
		<integer>10</integer>
		<key>user</key>
		<dict>
			<key>photo</key>
			<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/06ef564547aa446740a37896effd07fccb65cf452</string>
			<key>name</key>
			<string>蘑菇</string>
			<key>uid</key>
			<string>123463</string>
		</dict>
		<key>detailText</key>
		<string>测试内容6!!!</string>
		<key>createTime</key>
		<string>Tue May 31 17:46:55 +0800 2015</string>
	</dict>
	<dict>
		<key>remindCount</key>
		<integer>10</integer>
		<key>user</key>
		<dict>
			<key>photo</key>
			<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/06ef564547aa446740a37896effd07fccb65cf452</string>
			<key>name</key>
			<string>蘑菇</string>
			<key>uid</key>
			<string>123464</string>
		</dict>
		<key>detailText</key>
		<string>测试内容6!!!</string>
		<key>createTime</key>
		<string>Tue May 31 17:46:55 +0800 2015</string>
	</dict>
	<dict>
		<key>remindCount</key>
		<integer>10</integer>
		<key>user</key>
		<dict>
			<key>photo</key>
			<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/06ef564547aa446740a37896effd07fccb65cf452</string>
			<key>name</key>
			<string>蘑菇</string>
			<key>uid</key>
			<string>123465</string>
		</dict>
		<key>detailText</key>
		<string>测试内容6!!!</string>
		<key>createTime</key>
		<string>Tue May 31 17:46:55 +0800 2015</string>
	</dict>
	<dict>
		<key>remindCount</key>
		<integer>10</integer>
		<key>user</key>
		<dict>
			<key>photo</key>
			<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/06ef564547aa446740a37896effd07fccb65cf452</string>
			<key>name</key>
			<string>蘑菇</string>
			<key>uid</key>
			<string>123466</string>
		</dict>
		<key>detailText</key>
		<string>测试内容6!!!</string>
		<key>createTime</key>
		<string>Tue May 31 17:46:55 +0800 2015</string>
	</dict>
	<dict>
		<key>remindCount</key>
		<integer>10</integer>
		<key>user</key>
		<dict>
			<key>photo</key>
			<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/06ef564547aa446740a37896effd07fccb65cf452</string>
			<key>name</key>
			<string>蘑菇</string>
			<key>uid</key>
			<string>123467</string>
		</dict>
		<key>detailText</key>
		<string>测试内容6!!!</string>
		<key>createTime</key>
		<string>Tue May 31 17:46:55 +0800 2015</string>
	</dict>
	<dict>
		<key>remindCount</key>
		<integer>10</integer>
		<key>user</key>
		<dict>
			<key>photo</key>
			<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/06ef564547aa446740a37896effd07fccb65cf452</string>
			<key>name</key>
			<string>蘑菇</string>
			<key>uid</key>
			<string>123468</string>
		</dict>
		<key>detailText</key>
		<string>测试内容6!!!</string>
		<key>createTime</key>
		<string>Tue May 31 17:46:55 +0800 2015</string>
	</dict>
</array>
</plist>
