<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>photo</key>
	<string>http://file.market.xiaomi.com/thumbnail/PNG/l62/AppStore/0bd7a85f8667d439a25eac1f31bc42c4f204b577b</string>
	<key>name</key>
	<string>J乐消消3</string>
	<key>uid</key>
	<string>123452</string>
</dict>
</plist>
